[build]
  command = "echo 'No build step'"
  publish = "."                # Change this from "public" to "."
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
